{% extends "core/base.html" %}
{% block title %}
<h1>Hello World </h1>
{% endblock %}


{% block fileinput %}

    {% for item in source_plugins %}

<form action="upload" method="POST" enctype=multipart/form-data>
    {% csrf_token %}

    {% for field in form %}

    <div class="mb-3">
        <div class="mb-3">
            <label for={{ field.name }} class="form-label">Select a file to visualize</label>
            <div class="fieldWrapper">
                <div class="form-control">
                    {{ field.errors }}
                    {{ field }}
                </div>
            </div>
        </div>

    </div>


    {% endfor %}


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endfor %}

{% endblock %}